.detailHitory {
    width: 100%;
    display: flex;

    .detailContainer {
        flex: 6;

        .top,
        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 5px;
            padding: 10px;
            margin: 20px;
            display: flex;

            span {
                color: #210876;
                font-size: 24px;
                font-weight: 600;
            }

            .right {
                
                flex: 2;

                .historry-action {
                    display: flex;
                    justify-content: end;
                    padding: 10px 30px 40px;
                    margin-right: 30px;

                    .deleteBtn {
                        padding: 4px 8px;
                        border-radius: 5px;
                        color: crimson;

                        border: 1px dotted rgba(220, 20, 60, 0.6);
                        cursor: pointer;
                        font-size: 15px;
                        font-weight: 600;

                        &:hover {
                            background-color: #f6e9e9;
                            transition: 0.3s ease;
                        }
                    }

                    .backBtn {
                        padding: 4px 8px;
                        border-radius: 5px;
                        color: #31b0d5;
                        border: 1px dotted #31b0d5;
                        cursor: pointer;
                        font-size: 15px;
                        font-weight: 600;
                        margin-left: 20px;
                    }

                    .formInput {
                        margin-right: 20px;
                        width: 20%;

                        .select {
                            border: 1px solid gray;
                            width: 100%;
                            padding: 4px;
                            font-size: 14px;
                            outline: none;
                            border-radius: 2px;
                        }
                    }
                }

                form {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: space-around;
                    position: relative;

                    .formInput {
                        width: 40%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            color: #210876;
                            font-weight: 600;

                            .icon {
                                cursor: pointer;
                            }
                                                                                                      
                            .time-end {
                                margin-left: 16px;
                            }
                        }

                        .name {
                            margin-left: 32px;
                        }

                        .name-room {
                            margin-left: 4px;
                        }

                        .info {
                            color: #333;
                            font-size: 16px;
                        }

                        .time-return {
                            margin-left: 3px;
                        }

                        .status {
                            margin-left: 72px;
                        }

                        .select {
                            border: 1px solid gray;
                            width: 60%;
                            padding: 4px;
                            font-size: 14px;
                            margin-top: 6px;
                            outline: none;                               
                        }
                    }       
                }
                .btn-action {
                    .back {
                        color: goldenrod;
                        border: 1px dotted goldenrod;
                        margin-right: 50px;
                        // margin-left: 510px;
                    }
                }
            }
        }

        .bottom {
            border-top: 3px solid #31b0d5;
            padding: 20px 0 50px;
            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        }
    }
}
