.addTeacher {
    width: 100%;
    display: flex;

    .addContainer {
        flex: 6;

        .top,
        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 5px;
            padding: 10px;
            margin: 20px;
            display: flex;

            span {
                color: #210876;
                font-size: 24px;
                font-weight: 600;
            }
            form {
                display: flex;
                align-items: center;
                position: relative;
                top: -30px;

                .left {
                    flex: 1;
                    text-align: center;

                    .image {
                        width: 250px;
                        height: 250px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 1px solid #ddd;
                        margin-top: 30px;
                    }
                }

                .right {
                    flex: 2;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: space-around;
                    position: relative;

                    .formInput {
                        width: 40%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            color: #210876;
                            font-weight: 600;

                            .icon {
                                cursor: pointer;
                            }
                        }

                        input {
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                            font-size: 16px;
                            outline: none;
                            background-color: transparent;

                            &::placeholder {
                                font-size: 15px;
                                color: gray;
                            }
                        }
                    }
                    .radio {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        label {
                            margin-right: 20px;
                        }

                        input {
                            width: 18px;
                            height: 18px;
                            margin-right: 10px;
                        }

                        .input-radio + .input-radio {
                            margin-left: 20px;
                        }
                    }

                    .btn-action {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        right: -50px;
                        bottom: -90px;

                        .back {
                            color: #333;
                            background-color: #f4f4f4;
                            border: 1px dotted #bbbb;
                            transition: background-color 0.3s linear;

                            &:hover {
                                background-color: #e7e7e7;
                            }
                        }
                    }

                    button {
                        color: #fff;
                        font-size: 16px;
                        font-weight: 600;
                        border: 1px dotted #fff;
                        padding: 5px;
                        width: 100px;
                        border-radius: 5px;
                        cursor: pointer;
                        margin-left: 20px;
                        background-color: #3c8dbc;
                        transition: background-color 0.3s linear;

                        &:hover {
                            background-color: #367fa9;
                        }
                    }
                }
            }
        }

        .bottom {
            padding: 20px 0;
            min-height: 300px;
            border-top: 3px solid #31b0d5;

            .error {
                color: red;
                font-size: 14px;
            }
        }
    }
}
