.detail {
    width: 100%;
    display: flex;

    .detailContainer {
        flex: 6;

        .top,
        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 5px;
            padding: 10px;
            margin: 20px;
            display: flex;

            span {
                color: #210876;
                font-size: 24px;
                font-weight: 600;
            }

            .left {
                flex: 3;
                .image {
                    width: 500px;
                    height: 300px;
                    border-radius: 10px;
                    object-fit: cover;
                    border: 1px solid #dddd;
                }
            }

            .right {
                flex: 4;
                margin-left: 50px;
                position: relative;

                form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 30px;
                    justify-content: space-around;
                    position: relative;

                    .formInput {
                        width: 100%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            color: #210876;
                            font-weight: 600;

                            .icon {
                                cursor: pointer;
                            }
                        }

                        .info {
                            color: #333;
                            font-size: 16px;
                        }

                        .desc {
                            font-size: 16px;
                            display: block;
                        }
                    }
                }
                .btn-action {
                    .back {
                        color: goldenrod;
                        border: 1px dotted goldenrod;
                        margin-right: 50px;

                        &:hover {
                            background-color: #e0e5ae;
                        }
                    }
                }

                button {
                    color: #31b0d5;
                    font-size: 16px;
                    font-weight: 600;
                    border: 1px dotted #31b0d5;
                    padding: 5px;
                    width: 100px;
                    border-radius: 5px;
                    cursor: pointer;
                    // float: right;
                    position: absolute;
                    right: -30px;
                    bottom: 20px;
                }
            }
        }

        .bottom {
            padding: 20px;
            border-top: 3px solid #31b0d5;
        }
    }
}
