.sidebar {
    width: 17rem;
    max-width: 17rem;

    min-height: 100vh;
    border-right: 0.5px solid lightgray;
    background-color: #222D32;
    transition: 0.5s all ease-in;

    &.active {
        width: 3rem;
        transition: 0.5s all ease-in;

        .logo {
            display: none;
        }

        span {
            display: none;
        }

        .title {
            display: none;
        }
    }

    .top {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        background-color: #367FA9;

        .logo {
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            margin-right: 10px;
        }

        .menu__icon {
            position: relative;
            top: 3px;
            color: #fff;
            cursor: pointer;
        }
    }

    .bottom {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                font-size: 17px;
                font-weight: bold;
                color: #8aa4af;
                margin-top: 15px;
                margin-bottom: 5px;
                margin-left: 10px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 14px 5px;
                cursor: pointer;
                height: 20px;
                transition: 0.3s ease-in;

                &:hover {
                    // background-color: rgba($color: #dddd, $alpha: 1);
                    background-color: #367FA9;
                    border-radius: 10px;

                    .icon {
                        color: #fff;
                    }

                    span {
                        color: #fff;
                    }
                }

                .icon {
                    font-size: 26px;
                    color: #fff;
                    padding-left: 6px;
                }

                &.active {
                    background-color: #367FA9;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

                    span {
                        color: #fff;
                    }

                    .icon {
                        color: #fff;
                    }
                }
            }
            span {
                font-size: 16px;
                font-weight: 600;
                color: #fff;
                margin-left: 10px;
            }
        }
    }
}
