.account {
    display: flex;
    background-color: #f5f5f5;
    color: #616161;

    .accountContainer {
        flex: 6;
        background-color: #f5f5f5;
        color: #616161;

        .accountList {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;
            border-radius: 4px;
            border-top: 3px solid #31b0d5;  

            .datatableTitle {
                width: 100%;
                font-size: 24px;
                color: #210876;
                margin-bottom: 10px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .accountSearch {
                display: flex;
                align-items: center;
                margin: 18px 0px 30px;

                h4 {
                    color: #210876;
                }

                .search {
                    display: flex;
                    align-items: center;
                    width: 83%;
                    position: relative;

                    input {
                        border: 1px solid #616161;
                        padding: 2px 50px 2px 10px;
                        width: 100%;
                        font-size: 15px;
                        outline: none;
                        height: 30px;
                        margin-left: 10px;
                        border-top-left-radius: 2px;
                        border-bottom-left-radius: 2px;

                        &::placeholder {
                            font-size: 15px;
                        }
                        &:focus {
                            border: 2px solid #000;
                            height: 29px;
                        }
                    }

                    .search-btn {
                        position: relative;
                        top: 2px;
                        border: none;

                        .MuiSvgIcon-root {
                            background-color: #31b0d5 !important;
                            font-size: 20px;
                            padding: 1px 10px;
                            height: 34px;
                            color: #fff !important;
                            cursor: pointer;
                            transition: background-color 0.3s ease;
                            border-bottom-right-radius: 2px;
                            border-top-right-radius: 2px;

                            &:hover {
                                background-color: #1a7a8c !important;
                            }
                        }
                    }

                    .icon-search {
                        font-size: 19px;
                    }

                    .clear {
                        border: none;
                        background-color: transparent;
                        cursor: pointer;                      
                    }

                    .clear,
                    .loading {
                        position: absolute;
                        right: 50px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #616161;
                        margin-top: 2px;                       
                    }

                    .loading {
                        animation: spinner 0.8s linear infinite;
                    }

                    @keyframes spinner {
                        from {
                            transform: translateY(-50%) rotate(0);
                        }
                        to {
                            transform: translateY(-50%) rotate(360deg);
                        }
                    }
                }
            }
            .link {
                color: green;
                font-size: 16px;
                font-weight: 400;
                border: 1px dotted green;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
                margin-left: 33px;
                transition: background-color 0.3s linear;

                &:hover {
                    background-color: #d0e3d0;
                }
            }
        }
    }
    .accounttable {
        color: #616161;

        .tableCell {
            background-color: whitesmoke;
            color: #616161;
            font-size: 15px;

            .cellWrapper {
                display: flex;
                align-items: center;
            }

            span {
                background-color: #210876;
                color: white;
                padding: 5px 10px;
                cursor: pointer;
            }

            .btn + .btn {
                margin-left: 10px;
            }

            .updateBtn {
                padding: 4px 8px;
                border-radius: 5px;
                color: #31b0d5;
                border: 1px dotted #31b0d5;
                cursor: pointer;
                font-size: 15px;
                font-weight: 600;

                transition: background-color 0.3s linear;

                &:hover {
                    background-color: #d2edf9;
                }
            }

            .deleteBtn {
                padding: 4px 8px;
                border-radius: 5px;
                color: crimson;
                border: 1px dotted rgba(220, 20, 60, 0.6);
                cursor: pointer;
                font-size: 15px;
                font-weight: 600;
                transition: background-color 0.3s linear;

                &:hover {
                    background-color: rgb(246, 233, 233);
                }
            }
        }

        .tabble-header {
            font-weight: 600;
            color: #210876;
            font-size: 16px;
        }

        .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .btn-action {
            text-align: end !important;
        }

        .name-account {
            width: 40%;
        }

        .user-account {
            width: 45%;
        }

        .no-data-message {
            font-size: 20px;
            color: #210876;
            font-weight: 600;
            padding: 20px 10px;

            .no-mess {
                color: red;
            }
        }
    }
}
